.card {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    background-color: black;
    min-width: 30%;
    /* border: 1px solid pink; */
    width: 200px;
    min-height: 200px;
}